.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #FFFFFF;
    max-width: 200px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px ;
    font-size: 14px;
    text-align: center;
    width: 41px;
    height: 32px;
  }
  
  .container{
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
    padding: 10px;
    width: 319px;
    height: 293px;
  }
  .prev{
    margin: 16px 60px 21px 22px;
    
  }
  .next{
    margin: 16px 15px 21px 60px;
   
  }
  .span{
    padding: 2px;
  }
  .Header{
    display: inline-block;
    width: auto;
  }
  .otherMonth{
    color:gray;

  }